.App {
  margin: 0;
  padding: 0;
}

/* .App-logo {
  width: 10px;
} */

body {
  padding: 5px;
 
}

html, body {
  overflow: hidden;
}

nav ul a {
color:#212121 !important;
}



.output {
  overflow: scroll;
  height: 90vh;


}

.input {
  overflow: scroll !important;
  height: 90vh;
  border-right: 1px solid grey;

}

.shadow {
  -moz-box-shadow:    inset 0 0 4px grey;
  -webkit-box-shadow: inset 0 0 4px grey;
  box-shadow:         inset 0 0 4px grey;
  border-radius: 4px;
}

/* textarea {
  height: 80vh !important;
  overflow: scroll !important;
} */